[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
tzdata = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
opencv-python = "*"
numpy = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.10"
